
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.body {
  color: #FFFFFF;
  background-color:#171717;
  
}
.container{
width: 1460px;
margin: 0 auto;


   
}
.header {
  padding-top: 47px;
  border: 
  background-color:#171717;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.logo {
  
  
}
.logo-coll{
  color: #E4B564;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10px;
}

.menu-link-header{
color: #E4B564;
border: 1px solid #E4B564;
list-style-type: none;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 25px;
padding-left:25px;

}
 
.menu-link {
  border: 1px solid red;
  color: white;
  justify-content: flex-end;
}

.Header_menu_footer_link{
  color: #FFFFFF;
}


.header_menu_list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:467px 467px;
  gap: 5px;
  padding: 0;
  
  
}

.header_menu_item:nth-child(1){
  
  border-radius: 5px;
  background-color: #634F2C;
  padding: 1em;
  
  grid-column-start: 1;grid-column-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_menu_item:nth-child(2){
  
  border-radius: 5px;
  background-color: #B4A385;
  padding: 1em;
  color: #FFFFFF;
  grid-column-start: 3;grid-column-end: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_menu_item:nth-child(3){
  
  border-radius: 5px;
  background-color: #E4B564;
  padding: 1em;
  color: #FFFFFF;
  
  grid-column-start: 5;
  grid-column-end: 7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_menu_item:nth-child(4){
  
  border-radius: 5px;
  background-color:
  #635A4A; 
  padding: 1em;
  
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.header_menu_item:nth-child(5){
  border-radius: 5px;
  background-color: #B08C4D;
  padding: 1em;
  
  grid-column-start: 4;
  grid-column-end: 7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header_menu_link{
 color: #FFFFFF
}

.Header_menu_link_equipment{
color:#FFFFFF
}
.title_name_equipment{
  margin-top: 172px;
  margin-bottom: 72px;
  font-weight: 700;
}
    
.header_menu_list_equipment{
  display: grid;
  grid-template-rows: repeat(10,1fr);
  grid-template-columns:repeat(3,1fr);
  gap: 30px;
  padding: 0;
  
}

.header_menu_item_equipment:nth-child(1){
  
  border-radius: 5px;
  background-color: #0E0E0E;
  padding: 1em;
  
  grid-row-start:1 ;grid-row-end:5 ;
  display: flex;
  align-items: center;
  justify-content: center;

}

.header_menu_item_equipment:nth-child(2){
  
  border-radius: 5px;
  background-color:#242424;
  padding: 1em;
  color: #FFFFFF;
  grid-row-start:1 ;grid-row-end:6 ;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.logo-footer-proect-ball{
  margin-right: 150px;
  margin-bottom: 250px;
}
.logo-footer-proect-text{
  align-items: center;
}
.header_menu_item_equipment:nth-child(3){
  
  border-radius: 5px;
  background-color: #E4B564;
  padding: 1em;
  color: #FFFFFF;
  
  grid-row-start: 1;grid-row-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 255px;
}
.header_menu_item_equipment:nth-child(4){
  
  border-radius: 5px;
  background-color:
  #635A4A; 
  padding: 1em;
  
  grid-row-start: 5;grid-row-end: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  
}
.header_menu_item_equipment:nth-child(5){
  border-radius: 5px;
  background-color: #B08C4D;
  padding: 1em;
  
  grid-row-start:6 ;grid-row-end: 11 ;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  
}
.header_menu_item_equipment:nth-child(6){
  border-radius: 5px;
  background-color: #B08C4D;
  padding: 1em;
  
  grid-row-start:4 ;grid-row-end: 8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_menu_item_equipment:nth-child(7){
  border-radius: 5px;
  background-color: #B08C4D;
  padding: 1em;
  
  grid-row-start:8 ;grid-row-end:11 ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_menu_clients_projects{
  background-color:#0E0E0E ;
  border: 1px red;
}


.title_name_footer{
  border: 1px red;
}
  
.header_bottom{
  padding-top: 171px;
  padding-bottom: 61px; 
  
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.header_menu_footer_list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:467px 467px 467px;
  gap: 0;
  padding: 0;
  margin-bottom: 50px;
  
}
.Header_menu_footer_link{
  color: #FFFFFF;
}

.logo-footer-proect-text{
  align-items: center;
}
.logo-footer-proect-boll{
  display: flex;
  justify-content: center;
  align-self: center;
}


.header_menu_footer_item:nth-child(1){
  
 
  background-color:#634F2C;
  padding: 1em;
  grid-column-start: 1;grid-column-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_menu_footer_item:nth-child(2){
  flex-direction: column-reverse;
  background-color: #E8D2AB;
  padding: 1em;
  grid-column-start: 3;grid-column-end: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_menu_footer_item:nth-child(3){
  background-color: #E4B564;
  padding: 1em;
  color: #FFFFFF;
  height: 1fr;
  grid-column-start: 5;
  grid-column-end: 7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_menu_footer_item:nth-child(4){
  
 
  background-color:#635A4A; 
  padding: 1em;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.header_menu_footer_item:nth-child(5){
  
  background-color: #B08C4D;
  padding: 1em;
  grid-column-start: 3;
  grid-column-end: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_menu_footer_item:nth-child(6){
  border-radius: 5px;
  background-color:#634F2C;
  padding: 1em;
  grid-column-start: 5;
  grid-column-end: 7;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
.body {
  font-family: 'Roboto Condensed', sans-serif;
font-weight:400; 
color:red;
font-size: 14px;
/* line-height: 1.2px; 
background-color: green;
}

.header {
  border: 1px solid red;
  background-color: #171717;
  display: flex;
align-items: center;
  justify-content: space-between;
  }

  .button {
    margin-top:
  }

  .button_item {
    border: 1px solid red;
    padding: 20px;
    margin-right: 10px;
    width: 216px;
    height: 50px;
  }
    
    
.logo {
  display: flex;
margin-top: 46px;
align-items: center;

}
/*
.page_div {
  display: flex;
    align-items: baseline;
    justify-content: center;
    height: 70px;
    background: #313131;
}
.nav {
  display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1460px;
}



.logo_text {
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Open Sans;
  border: 1px solid red;
}
.list-item{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:467px 467px;
  gap: 5px;

}
.item-equipment:nth-child(1){
  
    border:2px solid red;
    border-radius: 5px;
    background-color: aqua;
    padding: 1em;
    color: blue;
    grid-column-start: 3;grid-column-end: 5;

}
.item-equipment:nth-child(2){
  
    border:2px solid red;
    border-radius: 5px;
    background-color: aqua;
    padding: 1em;
    color: blue;
    grid-column-start: 3;grid-column-end: 5;

}
.item-equipment:nth-child(3){
  
    border:2px solid red;
    border-radius: 5px;
    background-color: aqua;
    padding: 1em;
    color: blue;
    grid-column-start: 3;grid-column-end: 5;

}
.item-equipment:nth-child(4){
  
    border:2px solid red;
    border-radius: 5px;
    background-color: aqua;
    padding: 1em;
    color: blue;
    grid-column-start: 3;grid-column-end: 5;

}
.item-equipment:nth-child(5){
 
    border:2px solid red;
    border-radius: 5px;
    background-color: aqua;
    padding: 1em;
    color: blue;
    grid-column-start: 3;grid-column-end: 5;

}
.item-equipment:nth-child(6){
  
    border:2px solid red;
    border-radius: 5px;
    background-color: aqua;
    padding: 1em;
    color: blue;
    grid-column-start: 3;grid-column-end: 5;

}
.item-equipment:nth-child(7){
  
  border:2px solid red;
  border-radius: 5px;
  background-color: aqua;
  padding: 1em;
  color: blue;
  grid-column-start: 3;grid-column-end: 5;

}
.logo {
  margin-top: 46px;
}
.button {
  margin-top:
}
.button_item {
  border: 1px solid red;
  padding: 20px;
  margin-right: 10px;
  width: 216px;
  height: 50px;


}
.title {
}
.title_name {
}
.title_description {
}
.header_menu {
}
.header_menu_list {
}
.header_menu_item {
}
.Header_menu_link {
}
.header_center {
}
.title_center_part {
}
.header_center_menu {
}
.header_center_menu_list {
}
.header_center_menu_item {
}
.Header_center_menu_link {
}
.footer_part {
}
.title_footer-part {
}
.footer-part_menu {
}
.footer_part_menu_item {
}
.footer_part_menu_item_link {
}

/*.page_body{
font-family: 'Roboto Condensed', sans-serif;
font-weight:400; 
color:red
font-size: 14px;
line-height: 1.2;
background-color: black

  white; 
}
*/
/*page_header{
  background-color: #171717;
  display: flex;
  position: absolute;
  justify-content: center;
  margin left: 0;
  margin right: 0;
  width: 1460px;}

.logo{
  margin: 35px;
  margin-left: 25px;
  justify-content: flex-start;
}
  
.button{

  justify-content: flex-end;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 17px 19px;
  margin-right: 230px;
  margin-top: 37px;
}
.title name{
  
Font size: 50px
Line height: 28px
Align: Left
Vertical align: Top
color: white-space: ;

} 
.grid-item{
  text-align: justify;
}

.gride-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:467px 467px;
  gap: 5px;
  
}
.gride-wrapper :nth-child(1){
  border:2px solid red;
  border-radius: 5px;
  background-color: aqua;
  padding: 1em;
  color: blue;
  grid-column-start: 1;grid-column-end: 3;
  
}

.gride-wrapper :nth-child(2){
  border:2px solid red;
  border-radius: 5px;
  background-color: aqua;
  padding: 1em;
  color: blue;
  grid-column-start: 3;grid-column-end: 5;

}
.gride-wrapper :nth-child(3){
  border:2px solid red;
  border-radius: 5px;
  background-color: aqua;
  padding: 1em;
  color: blue;
  height: 1fr;
  grid-column-start: 5;
  grid-column-end: 7;
 
}
.gride-wrapper :nth-child(4){
  border:2px solid red;
  border-radius: 5px;
  background-color: aqua;
  padding: 1em;
  color: blue;
  grid-column-start: 1;
  grid-column-end: 4;
  
}
.gride-wrapper :nth-child(5){
  border:2px solid red;
  border-radius: 5px;
  background-color: aqua;
  padding: 1em;
  color: blue;
  grid-column-start: 4;
  grid-column-end: 8;
}



.list-item-equipment{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:467px 467px;
  gap: 5px;

}
.list-item-equipment:nth-child(1){
  
    border:2px solid red;
    border-radius: 5px;
    background-color: aqua;
    padding: 1em;
    color: blue;
    grid-column-start: 3;grid-column-end: 5;

}
.list-item-equipment:nth-child(2){
  
    border:2px solid red;
    border-radius: 5px;
    background-color: aqua;
    padding: 1em;
    color: blue;
    grid-column-start: 3;grid-column-end: 5;

}
.list-item-equipment:nth-child(3){
  
    border:2px solid red;
    border-radius: 5px;
    background-color: aqua;
    padding: 1em;
    color: blue;
    grid-column-start: 3;grid-column-end: 5;

}
.list-item-equipment:nth-child(4){
  
    border:2px solid red;
    border-radius: 5px;
    background-color: aqua;
    padding: 1em;
    color: blue;
    grid-column-start: 3;grid-column-end: 5;

}
.list-item-equipment:nth-child(5){
 
    border:2px solid red;
    border-radius: 5px;
    background-color: aqua;
    padding: 1em;
    color: blue;
    grid-column-start: 3;grid-column-end: 5;

}
.list-item-equipment:nth-child(6){
  
    border:2px solid red;
    border-radius: 5px;
    background-color: aqua;
    padding: 1em;
    color: blue;
    grid-column-start: 3;grid-column-end: 5;

}
.list-item-equipment:nth-child(7){
  
  border:2px solid red;
  border-radius: 5px;
  background-color: aqua;
  padding: 1em;
  color: blue;
  grid-column-start: 3;grid-column-end: 5;

}
  
  
  
  
